{% load static i18n %}
<header id="topnav" class="defaultscroll sticky">
    <div class="container align-items-center">
        <a class="logo" data-href="{% url 'landing:index' %}">
            <span class="logo-light-mode">
                <img src="{% static 'img/logo-dark.svg' %}" class="l-dark" alt="">
                <img src="{% static 'img/logo-light.svg' %}" class="l-light" alt="">
            </span>
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="theme.helpers.toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <div id="navigation">
            <ul class="navigation-menu nav-right flex-grow-1 nav-light">
                {% for menu in menus %}
                    {% if not menu.uri == 'landing' %}
                        {% if menu.is_navbar %}
                            <li{% if menu.has_submenu %} class="has-submenu parent-parent-menu-item menu{% if menu.uri == path_info %} active{% endif %}"{% else %}{% if menu.uri == path_info %} class="active"{% endif %}{% endif %}>
                                <a {% if not menu.has_submenu %}data-href="{{ menu.link }}" {% endif %}class="sub-menu-item">{{ menu.title }}</a>
                                {% if menu.has_submenu %}
                                    <ul class="submenu">
                                        {% for submenu in menu.submenu.all %}
                                            <li><a data-href="{{ submenu.link }}" class="sub-menu-item">{{ submenu.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</header>