{% extends 'base/index.html' %}
{% load static i18n pengaturan %}
{% block contents %}
    <section class="section">
        {% with sections|get_section:"about_lera" as about_lera %}
            <div class="container">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <img data-src="{{ about_lera.first.image.url }}" class="img-fluid img-load rounded shadow border" alt="">
                    </div>
                    <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="section-title ms-lg-5">
                            <h2 class="title mb-4 fw-semibold">
                                {{ about_lera.first.title }}
                            </h2>
                            {% for about in about_lera.first.details.all %}
                                <p>
                                    {{ about.brief_desc|safe }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}

        {% with sections|get_section:"features" as features %}
            <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                {% for ft in features.all %}
                    <div class="{{ ft.brief_desc }}">
                        <div class="card shadow border p-4 rounded features features-classic feature-primary">
                            <img data-src="{{ ft.image.url }}" class="img-fluid img-load rounded shadow border" alt="" style="object-fit: fill;">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
        <div class="container mt-100 mt-60">
            <div class="row justify-content-between">
                {% with sections|get_section:"skills" as skill %}
                    <div class="col-lg-6">
                        <h2 class="title mb-4 fw-semibold">
                            {{ skill.first.title }}
                        </h2>
                        <p>
                            {{ skill.first.brief_desc|safe }}
                        </p>
                    <ul class="list-checked-bg-primary list-unstyled mt-4">
                        {% for ls in skill.first.details.all %}
                        <li class="list-checked-item">
                            {{ ls.title }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-5 col-md-6">
                    <img data-src="{{ skill.first.image.url }}" class="img-fluid img-load rounded shadow border" alt="">
                </div>
                {% endwith %}
            </div>
        </div>
        {% with sections|get_section:"strategic_partner" as strategic %}
        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-12 text-center">
                    <h2 class="title mb-4 fw-semibold">
                        {{ strategic.first.title }}
                    </h2>
                    <p>
                        {{ strategic.first.brief_desc|safe }}
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for ls in strategic.first.details.all %}
                <div class="col-lg-4 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="card features feature-primary features-modern pt-4 px-3 pb-2 text-center shadow-none border-0">
                        <iconify-icon icon="{{ ls.icon_name }}" class="mx-auto display-5 mb-3 text-primary"></iconify-icon>
                        <div>
                            <h4>
                                {{ ls.title }}
                            </h4>
                            <p class="text-dark-shades">
                                {{ls.brief_desc|safe}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
    </section>
{% endblock %}