{% extends 'base/index.html' %}
{% load static i18n pengaturan %}
{% block contents %}
    <section class="section">
        {% with sections|get_section:"main_program" as core %}
            <div class="container">
                <div class="row justify-content-center">
                    {% for ls in core.first.details.all %}
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="card border-0 p-4 text-center rounded features features-classic feature-primary">
                                <iconify-icon icon="{{ ls.icon_name }}"
                                              class="icon mx-auto display-4"></iconify-icon>
                                <div class="content mt-3">
                                    <a class="title title-dark h4">
                                        {{ ls.title }}
                                    </a>
                                    <p class="text-muted mb-0 mt-3">
                                        {{ls.brief_desc|safe}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
        {% with sections|get_section:"dampak" as dampak %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-6">
                    <div class="section text-center mb-4 pb-2">
                        <h2 class="title mb-b fw-semibold">
                            {{ dampak.first.title }}
                        </h2>
                        <p>
                            {{ dampak.first.brief_desc|safe }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for ls in dampak.first.details.all %}
                <div class="col-lg-4 col-md-4 mt-4 pt-2 d-flex align-items-stretch">
                    <div class="card features features-classic feature-primary pt-4 px-3 pb-2 text-center rounded-md shadow border-0">
                        <div class="fea-icon bg-soft rounded-md mx-auto p-6">
                            <iconify-icon icon="{{ ls.icon_name }}" class="display-4"></iconify-icon>
                        </div>
                        <div class="content mt-4">
                            <h4>{{ls.title}}</h4>
                            <p class="text-muted">
                                {{ls.brief_desc|safe}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
        {% with sections|get_section:"why_different" as why %}
        <div class="container mt-100 mt-60">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 col-md-6">
                    <img data-src="{{ why.first.image.url }}" class="img-fluid img-load rounded shadow border" alt="">
                </div>
                <div class="col-lg-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <h2 class="title mb-4 fw-semibold">
                        {{ why.first.title }}
                    </h2>
                    <ul class="list-checked list-checked-bg-dark text-muted mb-0">
                        {% for ls in why.first.details.all %}
                        <li class="list-checked-item">
                            {{ ls.brief_desc|safe }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endwith %}
    </section>

    <section class="section py-0">
        <div class="container-fluid px-0">
            <div class="py-5 position-relative img-load" data-background-image="{% static 'img/cta02.jpg' %}">
                <div class="bg-overlay bg-gradient-overlay"></div>
                <div class="container my-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-7 flex-grow-1">
                            <h4 class="h2 mb-0 text-warning fw-medium">
                                {% trans 'Menebar Kebaikan, Memberdayakan Masa Depan' %}
                            </h4>
                            <p class="lead text-white-70">
                                {% trans 'Dari pendidikan anak bangsa hingga setetes darah untuk sesama, setiap aksi Anda adalah harapan bagi mereka.' %}
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-5 text-end text-md-end mt-4 mt-sm-0">
                            <a href="javascript:void(0)" class="btn btn-warning btn-lg px-5">{% trans 'Gabung' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}