{% extends 'base/index-portal.html' %}

{% block custom_breadcrumb %}
    <button class="btn btn-danger px-5">Create New Product</button>
{% endblock %}

{% block content %}
    <div class="app-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                <div class="card-header">coba</div>
            </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}