{% extends 'base/index.html' %}
{% load static i18n %}
{% block contents %}
<section class="bg-home d-flex align-items-center vh-100">
    <div class="bg-overlay-white"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 text-center">
                <img src="{% static 'img/svg/404.svg' %}" style="max-width: 500px;" alt="">
                <p class="text-muted para-desc mx-auto">Error 404</p>
                <div class="mt-4 display-5 fw-semibold">{% trans 'Halaman tidak ditemukan!' %}</div>
                <div class="text-capitalize text-dark mb-4 error-page"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{% url 'landing:index' %}" class="btn btn-primary mt-4">{% trans 'Balik ke Beranda' %}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}